*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 18px;
 }
 
 body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
 }
 .wrapper {
  margin: 50px 10px;
 } 
  
 
  /* button {
  cursor: pointer;
  border: none;
  font-weight: 600;
background-color: blue;
  
 } */
 /* form{

 }
  */
button {
  display: inline-block;
  padding: 0.8rem 1.4rem; 
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px; 
  text-align: center; 
   font-size: 1em;
 
 }
 
  /* .btn-open {
  position: absolute;
  bottom: 150px;
 }   */
 /* .btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
 } */
  
 h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size:70px;
  font-weight: 800;
 }

 svg {
  margin-right: 10px;
  cursor: pointer;
 } 
 
 .titleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }